API_TOKEN=changeme

STORAGE_BACKEND=db
STORAGE_DIR=/absolute/path/to/storage

S3_ENDPOINT=https://s3.us-east-1.amazonaws.com
S3_BUCKET=
S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_REGION=us-east-1

FTP_HOST=
FTP_USERNAME=
FTP_PASSWORD=
FTP_ROOT=/
